{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
[CSV] Staff 権限付与
{% endblock title %}

{% block header %}
[CSV] Staff 権限付与
{% endblock header %}

{% block ac_csv %}
active
{% endblock ac_csv %}


{% block contents %}
<nav class="breadcrumb mb-2 px-3">
    <a class="breadcrumb-item" href="{% url 'home:index' %}">ホーム</a>
    <a class="breadcrumb-item" href="{% url 'home:csv_contact_kind' %}">[CSV] Staff 権限付与</a>
    <span class="breadcrumb-item active">確認</span>
</nav>

<div class="card">
    <form action="" method="post" class="form" enctype="multipart/form-data">
        <div class="card-header">
            [CSV] Staff 権限付与 確認画面
        </div>
        <div class="card-body">
            <h2>3. 確認</h2>
            <p>下記の通り Sraff 権限を付与します。問題なければ「登録」を押してください。</p>
            <div class="alert alert-warning" role="alert">
                <ul class="mb-0">
                    <li>文字化けした場合は文字コードが UTF-8 になっているか確認してください。</li>
                </ul>
            </div>
            <h3>登録するデータ</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <td>部局担当</td>
                    </tr>
                </thead>
                <tbody>
                    {% for key, object in valid_user_dict.items %}
                    <tr>
                        <td>{{ object.user }}</td>
                        <td>
                            {% for group in object.group_list %}
                            {{ group }}&nbsp;
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3 class="text-danger">下記の学生番号を持つユーザーは存在しないため、無視されます</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>学生番号</th>
                    </tr>
                </thead>
                <tbody>
                    {% for username in invalid_user_list %}
                    <tr>
                        <td class="text-danger">{{ username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="alert alert-warning" role="alert">
                お手数ですがもう一度ファイルを選択し直してください。
            </div>
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <div class="card-footer">
            {% buttons %}
            <button type="submit" class="btn btn-danger btn-block"
                formaction="{% url 'home:csv_staff_register_success' %}">
                登録
            </button>
            <button type="submit" class="btn btn-primary btn-block"
                formaction="{% url 'home:csv_staff_register_confirm' %}">
                再確認
            </button>
            {% endbuttons %}
        </div>
    </form>
</div>
{% endblock contents %}
