{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
CSV 処理
{% endblock title %}

{% block header %}
CSV 処理
<br>{{ model }}
{% endblock header %}

{% block contents %}
<nav class="breadcrumb mb-2 px-3">
    <a class="breadcrumb-item" href="{% url 'home:index' %}">ホーム</a>
    <span class="breadcrumb-item active">CSV 処理</span>
</nav>

<div class="card">
    <form action="" method="post" class="form" enctype="multipart/form-data">
        <div class="card-header">
            CSV 処理
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">使用注意（この機能はシステム管理者のみ実行できます）</h4>
                <p>この機能は CSV ファイルを用いてデータを大量に処理する際に使用します。</p>
                <p>普段のモデル追加などの操作は通常の PENGUIN 機能や管理サイトを用いて行ってください。</p>
                <p class="mb-0">あらかじめ Wiki を熟読の上、慎重に作業を行ってください。</p>
            </div>
            <p>下記のデータを CSV ファイルから登録します。ヘッダーは入力せず、1 行目からデータを入力してください。</p>
            <ul>
                <li><b>登録データ</b>: {{ model }}</li>
                <li><b>フィールド</b>: {{ header }}</li>
                <li><b>データ入力例</b>: {{ example }}</li>
                {% if note %}<li>{{ note }}</li>{% endif %}
            </ul>
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <div class="card-footer">
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
                OK
            </button>
            {% endbuttons %}
        </div>
    </form>
</div>
{% endblock contents %}
