{% extends 'base.html' %}
{% load period %}

{% block title %}
ホーム
{% endblock title %}

{% block header %}
Welcome to ようこそ PENGUIN
{% endblock header %}

{% block ac_home %}
active
{% endblock ac_home %}

{% block contents %}
<!--Home Menu for PC-->
<div class="d-none d-xl-block">
    <div class="alert alert-info" role="alert">
        {% if request.user.is_authenticated %}
        <i class="fas fa-arrow-left"></i>
        左のメニューから項目を選択してください。
        {% else %}
        <a href="{% url 'home:login' %}">ログイン</a>してください。
        {% endif %}
    </div>
</div>

<!--notification-->
<div class="card">
    <div class="card-header">
        お知らせ
    </div>
    <div class="card-body card-body-notice">
        {% if notice_list %}
        <div id="noticeCarouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for notice in notice_list %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <h2>{{ notice.title }}</h2>
                    <p>{{ notice.body|linebreaksbr|urlize }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>お知らせはありません</p>
        {% endif %}
    </div>
</div>

{% if not request.user.is_authenticated %}
<!--signin / signup-->
<div class="card">
    <div class="card-header">
        ログインしてください
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl mb-2 mb-xl-0"><a class="btn btn-primary btn-block" href="{% url 'home:login' %}"
                    role="button">ログイン</a></div>
            <div class="col-xl"><a class="btn btn-info btn-block" href="{% url 'home:signup_token' %}"
                    role="button">アカウント作成</a></div>
        </div>
    </div>
</div>
{% endif %}

<!--Home Menu for periodic event -->
{% period %}
{% if request.user.is_authenticated %}
{% for period in period_list %}
{% if period.active and period.url %}
<div class="mb-4">
    <div class="row mb-4">
        <div class="col">
            <a class="btn btn-warning btn-lg btn-block btn-warning-pulse" href="{% url period.url %}" role="button">
                {{ period.omitted_name }}</a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<!--Home Menu for not PC-->
<div class="d-xl-none mb-4">
    <div class="row mb-4">
        <div class="col">
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary btn-block" href="{% url 'home:profile' %}" role="button"><i
                    class="fas fa-id-badge fa-3x"></i>
                <hr>プロフィール</a>
            {% endif %}
        </div>
        <div class="col">
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary btn-block" href="{% url 'home:contact' %}" role="button"><i
                    class="far fa-envelope fa-3x"></i>
                <hr>お問い合わせ</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {% if request.user.is_staff %}
            <a class="btn btn-outline-success btn-block" href="{% url 'home:contact_kind' %}" role="button"><i
                    class="fas fa-envelope fa-3x"></i>
                <hr>お問い合わせ管理</a>
            {% endif %}

        </div>
        <div class="col">
            {% if request.user.is_staff %}
            <a class="btn btn-outline-success btn-block" href="{% url 'home:notification' %}" role="button"><i
                    class="fas fa-bell fa-3x"></i>
                <hr>通知システム</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {% if request.user.is_staff %}
            <a class="btn btn-outline-success btn-block" href="{% url 'home:staff_list' %}" role="button"><i
                    class="fas fa-th-list fa-3x"></i>
                <hr>事務局員名簿</a>
            {% endif %}
        </div>
        <div class="col">
            {% if request.user.is_staff %}
            <a class="btn btn-outline-success btn-block" href="/admin" role="button"><i
                    class="fas fa-database fa-3x"></i>
                <hr>管理サイト</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {% if request.user.is_superuser %}
            <a class="btn btn-outline-danger btn-block" href="{% url 'home:notice' %}" role="button"><i
                    class="fas fa-chalkboard-teacher fa-3x"></i>
                <hr>お知らせ管理</a>
            {% endif %}
        </div>
        <div class="col">
            {% if request.user.is_superuser %}
            <a class="btn btn-outline-danger btn-block" href="{% url 'home:notification_all' %}" role="button"><i
                    class="far fa-bell fa-3x"></i>
                <hr>全員通知</a>
            {% endif %}
        </div>
    </div>
</div>

<!--nfoffice twitter-->
<a class="twitter-timeline" data-height="600" data-width="400"
    href="https://twitter.com/nfoffice?ref_src=twsrc%5Etfw">Tweets by
    nfoffice</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock contents %}
