{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
アカウント仮登録
{% endblock title %}

{% block header %}
アカウント仮登録
{% endblock header %}

{% block contents %}
<nav class="breadcrumb mb-2 px-3">
    <a class="breadcrumb-item" href="{% url 'home:index' %}">ホーム</a>
    <span class="breadcrumb-item active">アカウント仮登録</span>
</nav>

<div class="card">
    <form action="" method="post" class="form">
        <div class="card-header">
            アカウント仮登録
        </div>
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                まずメールアドレスを入力してください。
            </div>
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <div class="card-footer">
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
                OK
            </button>
            {% endbuttons %}
        </div>
    </form>
</div>
{% endblock contents %}
