# vscode conf file
.vscode

# pyc file
__pycache__

# penguin/static, media files
/static
media

# environment variable files
# for production
.env.celery
.env.db
.env.web

# for local
.env.celery.local
.env.db.local
.env.web.local
