# celery 4.4.4 が落ちるので 4.4.2 で固定中（6/7現在）
celery==4.4.2
django-countable-field
Django
django-admin-sortable2
django-bootstrap-datepicker-plus
django-bootstrap4
django-celery-beat
django-celery-results
django-redis
django-select2
django-slack
gunicorn
psycopg2
redis
