/* ホーム画面のお知らせ表示領域の高さを固定 */
.card-body-notice {
    height: 13em;
}

/* table-clickable の Cursor を手の形にする */
table.table-clickable tr[data-href] {
    cursor: pointer;
}

/* select2 使用時の幅を調整 */
.select2-selection {
    width: 70vw;
}
