{% extends 'base.html' %}

{% block title %}
500
{% endblock title %}

{% block header %}
<span class="text-danger">500 Internal Server Error</span>
{% endblock header %}

{% block contents %}
<nav class="breadcrumb mb-2 px-3">
    <a class="breadcrumb-item" href="{% url 'home:index' %}">ホーム</a>
    <span class="breadcrumb-item active">500 Internal Server Error</span>
</nav>

<div class="card">
    <div class="card-header">
        内部エラーが発生しました
    </div>
    <div class="card-body">
        <p class="card-text">このエラーが発生した場合、下記の可能性が考えられます。</p>
        <ul>
            <li>アクセス集中による一時的な処理不全</li>
            <li>バグ（ごめんなさい）</li>
        </ul>
        <p class="card-text">
            このエラー情報は 11 月祭事務局システム担当に通知されます。
            お急ぎの場合は「お問い合わせ」からシステム担当にご相談ください。
        </p>
    </div>
    <div class="card-footer">
        <p class="card-text">システム担当へのお問い合わせはこちら。</p>
    </div>
</div>

{% endblock contents %}
